.schermo {
  background-color: #002060;
  color: white;
  font-family: Montserrat, Helvetica, sans-serif;
  height: 100vh;
}

table.table {
  vertical-align: middle;
  font-size: 2em;
  margin-right: auto;
  margin-top: 3em;
  background-color: #002060;
  border-collapse: collapse;

  #h {
    font-size: 0.6em;
  }

  thead {
    background-color: #002060;
  }

  th {
    text-align: center;
    width: 2.1em;
    color: white;
    border: none;
    font-weight: 700;
  }

  td {
    width: 2.1em;
    height: 6em;
    vertical-align: middle;
    text-align: center;
    color: black;
    border: 3px solid #002060;

    &.rosso {
      background-color: #ff6161;
    }

    &.blu {
      background-color: #558ed5;
    }

    &.giallo {
      background-color: #ffff00;
    }

    &.verde {
      background-color: #00b050;
    }

    &.bianco {
      background-color: #ffffff;
    }

    &.grigio {
      background-color: #7f7f7f;
    }
  }
}

h1 {
  font-size: 7em;
  margin-top: 0em;
  padding-left: 2%;
}

h4 {
  font-size: 2.5em;
  margin: 0 0 0.5em 0;
  padding-left: 2%;
}

#container {
  display: flex;
  align-items: center;
}

.box {
  width: 50%;
  padding: 2%;
}

.timer {
  margin-top: 3em;
  h1 {
    margin: 0;
  }

  .icon {
    color: white;
    font-size: 6rem;
  }
}

.traffic-light-indicator {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  /* Animazione: Transizione fluida del colore e del bordo */
  transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out;
  display: inline-block;
}

/* 1. Stato Iniziale/Default (valore = null) */
.traffic-light-indicator.default {
  background-color: transparent;
  border: 2px solid black;
}

/* 2. Stato Vero (valore = true) -> Bianco */
.traffic-light-indicator.true {
  background-color: white;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  animation: pulse 0.5s ease-out;
  /* Enfatizza il cambio */
}

/* 3. Stato Falso (valore = false) -> Rosso */
.traffic-light-indicator.false {
  background-color: red;
  border: 2px solid red;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.7);
  animation: pulse 0.5s ease-out;
  /* Enfatizza il cambio */
}

/* Keyframes per l'animazione di enfasi */
@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }

  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.gara-finita-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  h1 {
    font-size: 5em;
  }
}
