<div class="homepage">
    <h1>Gestionale Gare</h1>
    <h3>Visualizzazione</h3>
    <nav>
        <a routerLink="/schermo">Schermo</a>
        <a routerLink="/classifica">Classifica</a>
        <a routerLink="/classifica-assoluto">Classifica assoluto</a>
        <a routerLink="/lista-chiamate-gara">Chiamate Gara</a>
        <a routerLink="/lista-chiamate-query">Chiamate Prossima Gara</a>
    </nav>
    <h3>Gestione regia</h3>
    <nav>
        <a routerLink="/avvia-gara">Avvia Gara</a>
        <a routerLink="/atleti">Atleti</a>
        <a routerLink="/regia-carichi">Regia Carichi</a>
    </nav>
    <h3>Gestione speaker - giuria</h3>
    <nav>
        <a routerLink="/giuria">Giuria</a>
        <a routerLink="/speaker">Speaker</a>
    </nav>
</div>