.button-group {
  button.button {
    font-size: 1.5em;
    margin: 0;
    padding: 0 0.5em;
    border: none;
    border-radius: 0.6em;
    height: 2em;
    cursor: pointer;
    color: white;
    background-color: #1e88e5;
    font-weight: 500;
    transition: background-color 0.3s ease;
    gap: 0.3em;

    &:hover:not(:disabled) {
      background-color: #1565c0;
    }

    &:disabled {
      background-color: #bdbdbd;
      color: #757575;
      cursor: not-allowed;
    }
  }
}

.card-atleta {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;

  h4 {
    color: rgb(73, 70, 70);
    margin: 0.5em 0;
  }
  h1 {
    margin: 0.4em 0;
  }

  .carico {
    font-size: 0.85em;
    padding-left: 0.3em;
    font-weight: 500;
  }
}
