.button-group {
  button.button {
    font-size: 1.5em;
    width: 100%;
    margin: 0.4em 0em;
    border: none;
    border-radius: 0.8em;
    height: 5em;
    cursor: pointer;
    color: black;
    gap: 0.3em;
    transition: background-color 0.3s, transform 0.1s;

    &.valida {
      background-color: #a5e6a7;
    }

    &.non-valida {
      background-color: #f7a6ae;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
