table {
  width: 100%;
  margin-top: 1em;
}

td {
  width: 25%;

  //&.valida {
  //  background-color: #c8e6c9;
  //  color: #2e7d32;
  //  font-weight: 500;
  //}

  //&.non-valida {
  //  background-color: #ffcdd2;
  //  color: #c62828;
  //  font-weight: 500;
  //}
  &.editabile {
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}

.edit-container {
  display: flex;
  align-items: center;
  gap: 0.2em;
  width: 100%;
  padding: 0.2em 0.5em;

  input {
    width: calc(100% - 5em);
    font-size: 1em;
  }

  button.button {
    width: 3em;
    height: 2.5em;
    padding: 0 1em;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    align-items: center;

    &.save {
      color: green;
    }

    &.cancel {
      color: red;
    }
  }

  .warn {
    color: orange;
  }
}
